timm==0.4.12
transformers==4.15.0
fairscale==0.4.4
pycocoevalcap
addict
future
lmdb
numpy
Pillow
pyyaml
requests
scikit-image
scipy
insightface==0.7.3
onnx==1.14.0
onnxruntime==1.15.0
opencv-python==4.7.0.72
cython
mediapipe
svglib
fvcore
